<section id="about-us-section" class="about-us">
    <div *ngIf="showBanner" class="about-us-banner">
      <h2>ABOUT US</h2>
      <p>Home / About Us</p>
    </div>
    <div class="about-us-content">
      <h3>Serving Since 1950</h3>
      <div class="about-us-story">
        <div class="story">
          <h4>Our Story</h4>
          <p>Eos kasd eos dolor vero vero, lorem stet diam rebum. Ipsum amet sed vero dolor sea.</p>
          <p>Takimata sed vero vero no sit sed, justo clita duo no duo amet et, nonumy kasd sed dolor eos diam lorem eirmod. Amet sit amet no. Est nonumy sed labore eirmod sit magna. Erat et sed justo sit ut. Labor diam sed ipsum et eirmod</p>
          <a href="#" class="btn">Learn More</a>
        </div>
        <div class="vision">
          <h4>Our Vision</h4>
          <p>Invidunt lorem justo sanctus clita. Erat lorem labore ea, justo dolor lorem ipsum ut sed eos, ipsum et dolor kasd sit ea justo. Erat justo sed sed diam.</p>
          <ul>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
          </ul>
          <a href="#" class="btn">Learn More</a>
        </div>
        <div class="coffee-cup">
          <img src="coffee-cup.png" alt="Coffee Cup">
        </div>
      </div>
    </div>
  </section>
  