body {
    overflow-x: hidden; /* Only hide horizontal overflow */
}

.carousel {
    position: relative;
    height: auto; /* Adjust to content height */
    min-height: 100vh; /* Ensure it covers the full viewport height at least */
    overflow: hidden;
}

.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 3em;
    color: #fff;
    opacity: 0.6;
}
  
.carousel__button--left {
    left: 10px;
}
  
.carousel__button--right {
    right: 10px;
}

.carousel__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 10;
}

.home1, .home2, .home3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    transform: scale(1);
}

.home1 {
    background-image: url('../../assets/images/bg1.jpg');
    animation: moveForward 6s ease-in-out forwards;
}

.home2 {
    background-image: url('../../assets/images/bg2.jpg');
    animation: moveBackward 6s ease-in-out forwards;
}

.home3 {
    background-image: url('../../assets/images/bg3.jpg');
    animation: moveForward 6s ease-in-out forwards;
}

.title {
    font-size: 4em; /* Adjust size as needed */
    font-weight: bold; /* For bold text */
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.subtitle {
    margin-top: 0.5em; /* Space between title and subtitle */
    font-size: 1.5em; /* Adjust size as needed */
    font-style: italic; /* For italic text */
}

.decorative-element {
    display: block;
    margin: 0.5em auto; /* Center the element */
    height: 4px; /* Height of the decorative line */
    width: 80px; /* Width of the decorative line */
    background: #fff; /* Color of the decorative line */
    position: relative;
}

.decorative-element::after,
.decorative-element::before {
    content: '';
    display: block;
    width: 20px; /* Width of the leaves */
    height: 20px; /* Height of the leaves */
    /* background: url('path-to-your-leaf-icon.png') no-repeat center center; Path to your leaf icon */
    position: absolute;
    top: -8px; /* Positioning above the line */
}

.decorative-element::after {
    right: -25px; /* Positioning to the right of the line */
}

.decorative-element::before {
    left: -25px; /* Positioning to the left of the line */
}

@keyframes moveForward {
    0% { transform: scale(1); }
    100% { transform: scale(1.1); }
}

@keyframes moveBackward {
    0% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

html {
    scroll-behavior: smooth;
}
